<%#
  #
  # Web Atelier 2020  Exercise 6 - Persistent Web Applications with MongoDB
  #
  # Student: __STUDENT NAME__
  #
  # pictures.ejs view
  #
  #%>
<%- include("header") %>
<a href="/pictures/upload">Upload Picture</a>
<% Pictures.forEach((picture) => {%>
    <p><img src="<%= picture.src_thumb%>" style="filter: <%= picture.filter%>" alt="image"/>
        <a href="/pictures/<%= picture._id%>/edit%>">Edit Picture</a>
        <a href="<%= picture.src%>">Download Picture</a>
        <a href="/pictures/<%= picture._id%>/duplicate">Duplicate</a>
        <a href="/pictures/<%=picture._id%>/delete" class="btn" role="button">Delete picture</a>
        <button id="<%= picture._id%>_button">Slideshow</button>
        <a href="./images/${file}"></a>
        <a href="/pictures/<%= picture._id%>/edit"></a></p>

<%});%>

<%- include("footer") %>
