<%- include("header") %>
<a href="/timer/new">Create new timer</a>
<% Timers.forEach((timer) => {%>

        <p id="<%= timer._id%>_display" class="<%= timer.style%>">
        </p>
        <p>
            <div class="dropdown dropdown-hover">
                <div tabindex="0" class="m-1 btn">Sound Selection</div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a>No Sound</a>
                    </li>
                    <li>
                        <a>Sound 1</a>
                    </li>
                    <li>
                        <a>Sound 2</a>
                    </li>
                    <li>
                        <a>Sound 3</a>
                    </li>
                </ul>
            </div>

            <div class="dropdown dropdown-hover">
                <div tabindex="0" class="m-1 btn">Clock Style</div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a>Style 1</a>
                    </li>
                    <li>
                        <a>Style 2</a>
                    </li>
                    <li>
                        <a>Style 3</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown dropdown-hover">
                <div tabindex="0" class="m-1 btn">Edit Timer</div>
                <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
                    <li>
                        <a>Edit timer</a>
                    </li>
                    <li>
                        <a href='/timer/<%= timer._id%>/delete'>Delete timer</a>
                    </li>
                </ul>
            </div>
        </p>
<%});%>

<%- include("footer") %>